{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ver Post{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container bg-white rounded my-3 p-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>{{ post.titulo }}</h3>
                <div class="my-3" style="color:#3282b8;">
                    <i class="fa fa-thumbs-up"></i><strong> # Likes</strong>
                </div>
                <div style="color:#c3f584;">
                    <i class="far fa-clock"></i> <strong>Fecha de publicación: {{ post.fechapublicacion | date }}</strong>
                    {# el "| date" es un parseo, ya que "fecha_plublicacion" llega como date, pero el template solo muestra String  #}
                    {# en este caso "fecha_publicacion" va sin el guión bajo ya que para traer el post en el
                       controller usé un "find(id)" y este para traer los atributos usa gets y el
                       getFechaPublicacion no tiene gión bajo#}
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="align-self-center">
                    <img class="rounded" src="{{ asset('uploads/photos/'~post.foto) }}" width="150px">
                    {# con "asset" voy hasta "public", continúo la ruta hasta "photos" y concateno con el nombre (usando "~") #}
                </div>
            </div>
        </div>
        <hr>
        <div class="text-justify my-3">
            {{ post.contenido }}
        </div>
        <hr>

    </div>
    <div class="container p-3">
        {{ form(formComentarios) }}
        <h3>Comentarios</h3>
        {% for coment in comentariosDelPost %}
            <div class="rounded bg-white my-2 p-3 border">
                <h5>El {{ coment.fecha_publicacion | date }}  >>> >>> >>> {{ coment.nombre }} Dijo:</h5>
                {# si pusiese "date('d-m-Y')" solo mostraría: ejemplo 08-01-2021 #}
                <div class="w-100">{{ coment.comentario }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(comentariosDelPost) }}
        </div>
    </div>

{% endblock %}
