<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡BlogSer!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> {# "asset()" apunta directamente dentro de la carpeta public #}
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
            <link rel="stylesheet" href="{{ asset('css/all.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light ">{# saco el "bg-light" porque quiero otro color para mi barra de nacegación #}
                <a class="navbar-brand" href="{{ path('dashboard') }}">BlogSer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('registrarPosts') }}">Crear Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('posts_Del_User') }}">Mis Posts</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                        <div class="nav-item ml-3">
                            <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesión</a>
                        </div>
                    </form>
                </div>
            </nav>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/all.js') }}"></script>

            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

            <!-- Bootstrap core JavaScript-->
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


            <!-- Core plugin JavaScript-->
            <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>


            <!-- Page level plugins -->
            <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js')}}"></script>
            <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

            <!-- Page level custom scripts -->
            <script src="{{ asset('js/demo/datatables-demo.js')}}"></script>


            <!-- agrego esta linea para que se vea el nombre del archivo en los inputFile -->
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        {% endblock %}
    </body>
</html>
