{% extends 'base.html.twig' %} {# con esta linea le digo que herede todos los linckeos que hay en los block del "base.html.twig" #}

{% block title %}{{ parent() }} - Dashboard{% endblock %} {# con el "parent()" traigo el código o texto que está en el block title en el "base.html.twig" #}

{% block body %}
    {{ parent() }}{# traigo el código o texto que hay en el block body en el "base.html.twig" #}
    {{ dump(pagination) }}
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
            </th>
            <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
            </th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.titulo }}</td>
                <td>{{ article.foto }}</td>
                <td>{{ article.fecha_publicacion | date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
